<div class="container-fluid">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light border-bottom " style="background-color:teal">
    <app-brand></app-brand>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <app-tools></app-tools>
    </div>
  </nav>
</div>
    